h1{
    font-size: 80px;
    color: white;
    font-family:cursive;
    margin-left: 700px;
    margin-top: -50px;
}
h2{
    font-size: 60px;
    color:white;
    font-family: cursive;
    margin-left: 200px;
}
.box{

    margin-bottom: 50px;
    margin-left: 100px; 
    box-sizing: border-box;
    display:flex;
    width: 1600px;
    height: 700px;
    border-radius: 30px;
    background-color:rgba(10, 10, 10, 0.178) ;
}
.room-image{
    width: 600px;
    height: 450px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 75px;
    margin-bottom: 50px;
}
.room-image:hover{
     width: 650px;
     height: 500px;
     margin-left: 25px;
     margin-right:25px;
     margin-top: 75px;
     margin-bottom: 25px;
}
ul{
    color:white;
    font-family: cursive;
}
ul h3{
    font-weight: 600;
    font-size: 48px;
    
}
ul h4{
    font-weight: 600;
    font-size: 24px;
}
ul li{
    margin-left: 20px;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
     line-height: 29px;
}
ul p{
    font-size: 25px;
}

.btn{
    font-size: 28px;
    font-family: cursive;
    font-weight: bold;
    padding: 10px;
    width: 160px;
    margin-left: 50px;
    margin-top:10px ;
    cursor: pointer;
    color:white;
    border-radius: 100px;
    border-color:orange;
    background-color:orange;
      
}
.btn:hover{
    background-color:orangered;
    color:white;
    border-color: orangered;
}
ul a{
    font-size: 30px;
    margin-left: 20px;
    text-decoration: underline;
    cursor: pointer;
    color: white;
}
ul a:hover{
     color: orange;
     

}
.back{
    width:200px;
 }

